<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Repository.FishMapper">
    <insert id="initialFishDB" >
        INSERT INTO fishing_hole(name,category,address,latitude,longitude,fish_species,date) VALUES(#{name},#{category},#{address},#{latitude},#{longitude},#{fish_species},#{date})
    </insert>
    <select id ="display" resultType="fish">
        select * from fishing_hole
    </select>

    <select id="search" resultType="fish">
        select * from fishing_hole where address like '%${value}%'
    </select>
    <!--# -> preparedStatement 내부적으로 진행됨, 파싱된 sql은 재활용됨 , ''자동삽입 -->
    <!--$ -> parameter가 그대로 들어감, 재활용 x, sql injection 위험-->
    <select id="viewOne" resultType="fish">
        select * from fishing_hole where id=#{id}
    </select>
</mapper>