<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Repository.UserMapper">
    <insert id="signUp">
        INSERT INTO user(name, password ) VALUES(#{name}, #{password} )
    </insert>

    <select id="getUserByName" resultType="user">
        SELECT *  FROM user WHERE name = #{name}
    </select>

    <select id="getIdByName" resultType="Long">
        SELECT id FROM user WHERE name = #{name}
    </select>
</mapper>