<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="domain.FishingHole" alias="fish"/>
        <typeAlias type="domain.Review" alias="review"/>
        <typeAlias type="domain.User" alias="user"/>
    </typeAliases>
</configuration>